In [ ]:
import pandas as pd
from google.colab import drive

drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
data = pd.read_csv('gdrive/MyDrive/finalizedDataset(HateXplain).csv')

In [ ]:
data.head()

,Unnamed: 0,id,tokens,label,African,Arab,Asian,Caucasian,Hispanic,Buddhism,...,Islam,Jewish,Men,Women,Heterosexual,Indigenous,Refugee,None,Other,Homosexual
0,0,1179055004553900032_twitter,"['i', 'dont', 'think', 'im', 'getting', 'my', ...",normal,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,1179063826874032128_twitter,"['we', 'cannot', 'continue', 'calling', 'ourse...",normal,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,2,1178793830532956161_twitter,"['nawt', 'yall', 'niggers', 'ignoring', 'me']",normal,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,3,1179088797964763136_twitter,"['<user>', 'i', 'am', 'bit', 'confused', 'coz'...",hatespeech,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,1179085312976445440_twitter,"['this', 'bitch', 'in', 'whataburger', 'eating...",hatespeech,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0

In [ ]:
data.dtypes

Unnamed: 0       int64
id              object
tokens          object
label           object
African          int64
Arab             int64
Asian            int64
Caucasian        int64
Hispanic         int64
Buddhism         int64
Christian        int64
Hindu            int64
Islam            int64
Jewish           int64
Men              int64
Women            int64
Heterosexual     int64
Indigenous       int64
Refugee          int64
None             int64
Other            int64
Homosexual       int64
dtype: object

In [ ]:
data.shape

(20148, 22)

In [ ]:
# data = pd.read_csv('gdrive/MyDrive/finalizedDataset(HateXplain).csv')
# data = data[0:6000]
# data = data.drop(['id'], axis = 1)
# # Temporarily as label is not in int form. to avoid(dtype'o' error)
# data = data.drop(['label'], axis = 1) 
# data = data.drop(['Unnamed: 0'], axis = 1)

In [ ]:
data.dtypes

Unnamed: 0       int64
id              object
tokens          object
label           object
African          int64
Arab             int64
Asian            int64
Caucasian        int64
Hispanic         int64
Buddhism         int64
Christian        int64
Hindu            int64
Islam            int64
Jewish           int64
Men              int64
Women            int64
Heterosexual     int64
Indigenous       int64
Refugee          int64
None             int64
Other            int64
Homosexual       int64
dtype: object

In [ ]:
data.head()

,Unnamed: 0,id,tokens,label,African,Arab,Asian,Caucasian,Hispanic,Buddhism,...,Islam,Jewish,Men,Women,Heterosexual,Indigenous,Refugee,None,Other,Homosexual
0,0,1179055004553900032_twitter,"['i', 'dont', 'think', 'im', 'getting', 'my', ...",normal,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,1179063826874032128_twitter,"['we', 'cannot', 'continue', 'calling', 'ourse...",normal,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,2,1178793830532956161_twitter,"['nawt', 'yall', 'niggers', 'ignoring', 'me']",normal,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,3,1179088797964763136_twitter,"['<user>', 'i', 'am', 'bit', 'confused', 'coz'...",hatespeech,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,1179085312976445440_twitter,"['this', 'bitch', 'in', 'whataburger', 'eating...",hatespeech,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0

In [ ]:
from sklearn.model_selection import train_test_split
                                                                                                                                                   
train, test = train_test_split(data, random_state=42, test_size=0.30, shuffle=True)

print(train.shape)
print(test.shape)

(14103, 22)
(6045, 22)

In [ ]:
train_text = train['tokens']
test_text = test['tokens']
train_text

11264    ['<user>', 'because', 'your', 'to', 'fat', 'bi...
1991     ['a', 'great', 'victory', 'for', 'trump', 'tod...
19361    ['thank', 'god', 'men', 'and', 'women', 'are',...
3946     ['vontaze', 'burfict', 'is', 'a', 'fucking', '...
1575     ['<user>', '<user>', '<user>', '<user>', '<use...
                               ...
11284    ['i', 'am', 'sure', 'you', 'are', 'totally', '...
11964    ['this', 'is', 'very', 'true', 'also', 'the', ...
5390     ['<user>', 'obama', 'catch', 'and', 'release',...
860      ['<user>', '<user>', '<user>', '<user>', '<use...
15795    ['from', 'being', 'raped', 'by', 'russians', '...
Name: tokens, Length: 14103, dtype: object

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(strip_accents='unicode', analyzer='word', ngram_range=(1,3), norm='l2')
vectorizer.fit(train_text)
vectorizer.fit(test_text)

TfidfVectorizer(ngram_range=(1, 3), strip_accents='unicode')

In [ ]:
x_train = vectorizer.transform(train_text)
y_train = train.drop(labels = ['tokens'], axis=1)

x_test = vectorizer.transform(test_text)
y_test = test.drop(labels = ['tokens'], axis=1)

In [ ]:
y_test

,Unnamed: 0,id,label,African,Arab,Asian,Caucasian,Hispanic,Buddhism,Christian,...,Islam,Jewish,Men,Women,Heterosexual,Indigenous,Refugee,None,Other,Homosexual
9970,9970,21376810_gab,hatespeech,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
10389,10389,1080843707643944965_twitter,normal,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
5485,5485,1178183797461811200_twitter,normal,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5848,5848,1178917247626203136_twitter,normal,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9671,9671,19332653_gab,normal,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2613,2613,1179023017352974336_twitter,normal,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
15311,15311,16318068_gab,offensive,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
10026,10026,4305377_gab,hatespeech,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1
13280,13280,12325945_gab,normal,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
5364,5364,1174197246126166018_twitter,offensive,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score
from sklearn.multiclass import OneVsRestClassifier

In [ ]:
categories = ['African',	'Arab',	'Asian',	'Caucasian',	'Hispanic',	'Buddhism',	'Christian',	'Hindu',	'Islam',	'Jewish',	'Men', 'Women',	'Heterosexual',	'Indigenous',	'Refugee',	'None',	'Other']

In [ ]:
# Using pipeline for applying logistic regression and one vs rest classifier
LogReg_pipeline = Pipeline([
                ('clf', OneVsRestClassifier(LogisticRegression(solver='sag'), n_jobs=-1)),
            ])

for category in categories:
    print('**Processing {} comments...**'.format(category))
    
    # Training logistic regression model on train data
    LogReg_pipeline.fit(x_train, train[category])
    
    # calculating test accuracy
    prediction = LogReg_pipeline.predict(x_test)
    print('Test accuracy is {}'.format(100 * accuracy_score(test[category], prediction)))
    print("")

**Processing African comments...**
Test accuracy is 81.7535153019024

**Processing Arab comments...**
Test accuracy is 91.3151364764268

**Processing Asian comments...**
Test accuracy is 96.44334160463193

**Processing Caucasian comments...**
Test accuracy is 91.96029776674938

**Processing Hispanic comments...**
Test accuracy is 96.6087675765095

**Processing Buddhism comments...**
Test accuracy is 99.95037220843672

**Processing Christian comments...**
Test accuracy is 99.09015715467329

**Processing Hindu comments...**
Test accuracy is 99.6029776674938

**Processing Islam comments...**
Test accuracy is 85.54177005789909

**Processing Jewish comments...**
Test accuracy is 89.62779156327544

**Processing Men comments...**
Test accuracy is 92.07609594706369

**Processing Women comments...**
Test accuracy is 81.3564929693962

**Processing Heterosexual comments...**
Test accuracy is 99.37138130686517

**Processing Indigenous comments...**
Test accuracy is 99.50372208436724

**Processing Refugee comments...**
Test accuracy is 91.39784946236558

**Processing None comments...**
Test accuracy is 71.13316790736147

**Processing Other comments...**
Test accuracy is 81.88585607940446

In [ ]:
!pip install scikit-multilearn

Requirement already satisfied: scikit-multilearn in /usr/local/lib/python3.7/dist-packages (0.2.0)

In [ ]:
x_train.dtype

dtype('float64')

In [ ]:
# from skmultilearn.adapt import MLkNN
# from scipy.sparse import csr_matrix, lil_matrix
# classifier_new = MLkNN(k=10)
# # Note that this classifier can throw up errors when handling sparse matrices.
# x_train = lil_matrix(x_train).toarray()
# y_train = lil_matrix(y_train).toarray()
# x_test = lil_matrix(x_test).toarray()
# # train
# classifier_new.fit(x_train, y_train)
# # predict
# predictions_new = classifier_new.predict(x_test)
# # accuracy
# print("Accuracy = ",accuracy_score(y_test,predictions_new))
# print("\n")